body{background-image:
url(https://www.revolvermag.com/sites/default/files/media/images/article/deftones1997getty.jpg)}
h1{color:white;}
h1{margin: 0 auto;
text-align: center;
width: 50%;
height: 50px;
vertical-align: bottom;}
table{margin: 0 auto;
text-align: center;
width: ;
height: 50px;
vertical-align: bottom;}
h2{margin: 0 auto;
text-align: center;
width: 50%;
height: 50px;
vertical-align: bottom;}
h2{color: yellow;}
b{color:yellow;}
table, th, td{border: 1px solid black;}
table, th, td{background-color:white;}